<div class="col-sm-3 col-md-2  hourly-div background d-flex flex-wrap justify-content-center over">
    <p class="card-text hourly-time text-center border-bottom border-dark">{{format_hourly_time dt}}</p>
    <div class="col-12 d-flex flex-wrap justify-content-center p-2">
        <p class="card-text hourly-time text-center"><span
                class="badge rounded-pill condition-badge-current text-center fit-2">{{render_cond
                weather}}</span></p>
    </div>
    <div class="col-12 d-flex flex-wrap justify-content-center">
        <img src={{render_icon weather}} class="card-img-top cur-icon" alt="...">
    </div>
    <div class="col-12 ">
        <ul class="list-group list-group-flush border-list text-center">
            <li class="list-group-item hourly-list">Feels Like: <br>{{feels_like}}&deg; F</li>
             <span><img src="assets/images/icons/icons/098-umbrella.svg" class="iMG-s mt-1 ms-2 align-self-center">
                <li class="list-group-item conditions-list mt-1 text-center"><br>{{percent pop}}%<br>
                    <div class="progress progress-bg">
                        <div class="progress-bar progress-bar-striped progress-bar-animated {{progress_bar pop}} "
                            role="progressbar" style="width: {{percent pop}}%"
                            aria-valuenow="{{percent pop}}" aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </li>
            </span>
        </ul>
    </div>
</div>