<div class="col-sm-12 d-flex flex-wrap justify-content-center mt-5">
    {{#if alerts}}
    <div role="alert" aria-live="assertive" aria-atomic="true" class="toast show bg-dark" data-bs-autohide="false">
        <div class="col-12 d-flex flex-wrap justify-content-center">
            <button type="button" class="btn-close btn-close-white" aria-label="Close" data-bs-dismiss="toast"></button>
            <div class="card mb-3 bg-dark" style="max-width: 540px;">
                <div class="row g-0 d-flex justify-content-center">

                    <div class="col-md-4">
                        <img class="alert-icon mt-2" src="assets/images/icons/icons/082-rain-chance.svg" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title text-danger">WEATHER ALERT!!!</h5>
                            <h5 class="card-title text-danger">From: {{alerts.sender_name}}</h5>
                            <h5 class="card-title text-danger">ALERT: {{alerts.event}}</h5>
                            <p class="card-text">{{alerts.description}}</p>
                            <p class="card-text"><small class="text-muted">Starts: {{{format_date alerts.start}}} {{{format_condition_time alerts.start}}}</small></p>
                            <p class="card-text"><small class="text-muted">Ends: {{{format_date alerts.start}}} {{{format_condition_time alerts.end}}}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
</div>
<div class="col-sm-12 d-flex flex-wrap justify-content-center mt-5">



    <!--WEATHER SECTION -->
    <div class="card weather-div col-12 col-md-12 col-lg-5 col-xl-4 col-xxl-3 align-items-start float-weather p-3"
        style="background-image: url({{render_icon cw.weather}});">
        <div class="card-body text-shadow d flex flex-wrap">
            <h5 class="card-title text-center temp mt-5">{{cw.temp}}&deg; F</h5>
            <p class="card-text text-center "><span class="badge rounded-pill condition-badge">{{condition}}</span>
            </p>
            <span><img src="assets/images/icons/icons/wind.png" class="iMG me-1">
                <p class="card-text text-center wind align-self-center ">{{cw.wind_speed}} mph</p>
            </span>
        </div>

        <div class="card-body col-12 d-flex flex-column justify-content-end">
            <span><img src="assets/images/icons/icons/uv-index.png" class="iMG me-1">
                <p class="card-text text-start ms-1">Index<br><span
                        class="badge uvi-badge {{format_uv cw.uvi}}">{{cw.uvi}}
                    </span>

                </p>
                <h5 id="lat" class="col-12 card-title city text-shadow" data-lat="{{lat}}" data-lon="{{lon}}">{{city}},
                    {{state}}</h5>
                <p class="col-12 card-text date">{{{format_day cw.dt}}}</p>
                <span><img src="assets/images/icons/icons/sun-rise-set/090-sunset-1.svg" class="iMG ms-2">
                    <p id="sunR" class="col-6 card-text sun">Sunrise: {{ format_condition_time cw.sunrise}}</p>
                </span>
                <span><img src="assets/images/icons/icons/sun-rise-set/sunSet.png" class="iMG mt-1 ms-2">
                    <p id="sunS" class="col-6 card-text sun">Sunset: {{ format_condition_time cw.sunset}}</p>
                </span>
            </span>
        </div>




    </div>
    <!-- Daily Conditions Here -->
    <div
        class="card weather-div col-12 col-md-12 col-lg-6 col-xl-6 col-xxl-5 d-flex flex-wrap justify-content-center p-3">
        <div class="col-12 card-body align-self-start">
            <h5 class="card-title city text-shadow">Current Conditions</h5>
            <p class="card-text date">{{format_condition_time cw.dt}}</p>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-sm-5 col-md-5 col-lg-5 ">
                <ul class="list-group list-group-flush">
                    <span><img src="assets/images/icons/icons/therms/038-temperature.svg" class="iMG-s ms-2">
                        <li class="list-group-item conditions-list">
                            Temp<br>
                            {{cw.temp}}&deg; F<br>
                            <div class="progress progress-bg">
                                <div class="progress-bar progress-bar-striped progress-bar-animated {{progress_temp cw.temp}} "
                                    role="progressbar" style="width: {{percent cw.temp}}%"
                                    aria-valuenow="{{percent cw.temp}}" aria-valuemin="0" aria-valuemax="120">
                                </div>
                            </div>
                        </li>
                    </span>
                    <span><img src="assets/images/icons/icons/therms/E7BF9407.png" class="iMG-s">
                        <li class="list-group-item conditions-list"> Feels Like<br>
                            {{cw.feels_like}}&deg; F<br>
                            <div class="progress progress-bg">
                                <div class="progress-bar progress-bar-striped progress-bar-animated {{progress_temp cw.feels_like}} "
                                    role="progressbar" style="width: {{percent cw.feels_like}}%"
                                    aria-valuenow="{{percent cw.feels_like}}" aria-valuemin="0" aria-valuemax="120">
                                </div>
                            </div>
                        </li>
                    </span>
                    <span><img src="assets/images/icons/icons/therms/024-thermometer-low.svg" class="iMG-s ms-3">
                        <li class="list-group-item conditions-list"> Dew
                            Point:<br> {{cw.dew_point}}&deg;</li>
                    </span>
                    <span><img src="assets/images/icons/icons/meter.png" class="iMG ms-3">
                        <li class="list-group-item conditions-list">Pressure<br> {{cw.pressure}} mb</li>
                    </span>

                </ul>
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5">
                <ul class="list-group list-group-flush">
                    <span><img src="assets/images/icons/icons/viz.png" class="iMG ms-3">
                        <li class="list-group-item conditions-list">Visibility <br>{{format_mile cw.visibility}} mi</li>
                    </span>

                    <span><img src="assets/images/icons/icons/051-cloud-3.svg" class="iMG ms-3">
                        <li class="list-group-item conditions-list"> Cloud Coverage <br>{{cw.clouds}}%<br>
                            <div class="progress progress-bg">
                                <div class="progress-bar progress-bar-striped progress-bar-animated progress-bar-animated {{progress_bar cw.clouds}} "
                                    role="progressbar" style="width: {{cw.clouds}}%" aria-valuenow="{{cw.clouds}}"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </li>
                    </span>
                    <span><img src="assets/images/icons/icons/095-rain-drops-lg.svg" class="iMG ms-3">
                        <li class="list-group-item conditions-list">Humidity<br>{{cw.humidity}}%<br>
                            <div class="progress progress-bg">
                                <div class="progress-bar progress-bar-striped progress-bar-animated {{progress_bar cw.humidity}} "
                                    role="progressbar" style="width: {{cw.humidity}}%" aria-valuenow="{{cw.humidity}}"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </li>
                    </span>
                    <span><img src="assets/images/icons/icons/098-umbrella.svg" class="iMG-s ms-3">
                        <li class="list-group-item conditions-list">Chance of Rain<br>{{chance_rain hourly}}%<br>
                            <div class="progress progress-bg">
                                <div class="progress-bar progress-bar-striped progress-bar-animated {{progress_rain hourly}} "
                                    role="progressbar" style="width: {{format_percent hourly}}%"
                                    aria-valuenow="{{format_percent hourly}}" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        </li>
                    </span>



                </ul>
            </div>
            <div class="col-12 d-flex flex-wrap justify content-center">
                <div class="col-12 d-flex flex-wrap justify-content-center card-body align-self-start">
                    <h5 class="card-title hourly text-shadow mb-4">Hourly Forecast</h5>

                    <div class="col-sm-12 col-md-12 d-flex flex-wrap justify-content-center ">
                        {{#each hourly as |hourly|}}
                        {{> hourly-info hourly}}
                        {{/each}}
                        <!-- ACCORDION FOR EXTRA HOURS -->
                        <div class="accordion mt-3" id="next-six-hours">
                            <div class="accordion-item ac-itm d-flex">
                                <h2 class="accordion-header d-flex justify-content-end" id="headingOne">
                                    <div class="btn" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <span><img src="assets/images/icons/icons/three-small-dots.png"
                                                class="iMG me-1">
                                        </span>
                                    </div>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne"
                                    data-bs-parent="#next-six-hours">
                                    <div class="accordion-body col-12 d-flex flex-wrap align-self-center weather-div">
                                        {{#each hourlyExtended as |extended|}}
                                        {{> extended-info extended}}
                                        {{/each}}

                                        <div class="col-12 mt-4">
                                            <p class="text-end closer" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne">Close</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>





                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- END WEATHER SECTION -->
</div>
<!-- 5 DAY -->
<div class="row ms-1 d-flex flex-wrap justify-content-center">
    <div
        class="col-sm-12 col-md-12 col-lg-11 col-xl-10 col-xxl-8 weather-div d-flex flex-wrap justify-content-center p-3">
        <div class="col-12 d-flex flex-wrap justify-content-start">
            <h1 class="forecast-title ">
                Weekly Forecast
            </h1>
        </div>
        <div class="col-12 d-flex flex-wrap justify-content-center">
            <div class="col-10">
                {{#each dw as |daily|}}
                {{> five-day daily}}
                {{/each}}
            </div>
        </div>


    </div>

    <!-- END WEATHER CONTAINER -->
</div>
<!-- END WEATHER AND NEWS CONTAINER -->
<div class="col-12">
    <!-- DIV FOR NEWS -->
</div>
<!-- END DYNAMIC CONTENT -->