<div class="col-sm-12 d-flex flex-wrap justify-content-center mt-5">
    <!--WEATHER SECTION -->
    <div class="card weather-div col-12 col-md-12 col-lg-5 col-xl-4 col-xxl-3 align-items-start float-weather p-3"
        style="background-image: url({{render_icon cw.weather}});">
        <div class="card-body text-shadow d flex flex-wrap">
            <h5 class="card-title text-center temp">{{cw.temp}}&deg; F</h5>
            <p class="card-text text-center "><span class="badge rounded-pill condition-badge">{{condition}}</span>
            </p>
            <p class="card-text text-center wind align-self-center ms-4">{{cw.wind_speed}} mph</span></p>
        </div>

        <div class="card-body col-12 d-flex flex-column justify-content-end">
            <p class="card-text text-start"><span class="badge uvi-badge {{format_uv cw.uvi}}">UVI: {{cw.uvi}}</span>
            </p>
            <h5 class="col-12 card-title city text-shadow">{{city}}, {{state}}</h5>
            <p class="col-12 card-text date">{{{format_day cw.dt}}}</p>
            <p class="col-12 card-text sun">Sunrise: {{ format_condition_time cw.sunrise}}</p>
            <p class="col-12 card-text sun">Sunset: {{ format_condition_time cw.sunset}}</p>
        </div>

    </div>
    <!-- Daily Conditions Here -->
    <div
        class="card weather-div col-12 col-md-12 col-lg-6 col-xl-6 col-xxl-5 d-flex flex-wrap justify-content-center p-3">
        <div class="col-12 card-body align-self-start">
            <h5 class="card-title city text-shadow">Current Conditions</h5>
            <p class="card-text date">{{format_condition_time cw.dt}}</p>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-sm-5 col-md-5 col-lg-5 ">
                <ul class="list-group list-group-flush">
                    <span><img src="assets/images/icons/icons/therms/038-temperature.svg" class="iMG-s">
                        <li class="list-group-item conditions-list">
                            Temp<br>
                            {{cw.temp}}&deg; F</li>
                    </span>
                    <span><img src="assets/images/icons/icons/therms/E7BF9407.png" class="iMG-s">
                        <li class="list-group-item conditions-list"> Feels Like<br>
                            {{cw.feels_like}}&deg; F</li>
                    </span>
                    <span><img src="assets/images/icons/icons/therms/024-thermometer-low.svg" class="iMG-s">
                        <li class="list-group-item conditions-list"> Dew
                            Point:<br> {{cw.dew_point}}&deg;</li>
                    </span>
                    <span><img src="assets/images/icons/icons/power.svg" class="iMG-s">
                        <li class="list-group-item conditions-list">Pressure<br> {{cw.pressure}} mb</li>
                    </span>




                    <li class="list-group-item conditions-list">Visibility {{format_mile cw.visibility}} mi</li>
                </ul>
            </div>
            <div class="col-sm-5 col-md-5 col-lg-5">
                <ul class="list-group list-group-flush">

                    <span><img src="assets/images/icons/icons/051-cloud-3.svg" class="iMG">
                        <li class="list-group-item conditions-list"> Cloud Coverage <br>{{cw.clouds}}%<br>
                            <div class="progress progress-bg">
                                <div class="progress-bar progress-bar-striped {{progress_bar cw.clouds}} "
                                    role="progressbar" style="width: {{cw.clouds}}%" aria-valuenow="{{cw.clouds}}"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </li>
                    </span>
                    <span><img src="assets/images/icons/icons/095-rain-drops-lg.svg" class="iMG">
                        <li class="list-group-item conditions-list">Humidity<br>{{cw.humidity}}%<br>
                            <div class="progress progress-bg">
                                <div class="progress-bar progress-bar-striped {{progress_bar cw.humidity}} "
                                    role="progressbar" style="width: {{cw.humidity}}%" aria-valuenow="{{cw.humidity}}"
                                    aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </li>
                    </span>
                    <span><img src="assets/images/icons/icons/056-3-raindrops.svg" class="iMG">
                        <li class="list-group-item conditions-list">Chance of Rain<br>{{chance_rain hourly}}%<br>
                            <div class="progress progress-bg">
                                <div class="progress-bar progress-bar-striped {{progress_rain hourly}} "
                                    role="progressbar" style="width: {{format_percent hourly}}%"
                                    aria-valuenow="{{format_percent hourly}}" aria-valuemin="0" aria-valuemax="100">
                                </div>
                            </div>
                        </li>
                    </span>



                </ul>
            </div>
            <div class="col-12 d-flex flex-wrap justify content-center">
                <div class="col-12 d-flex flex-wrap justify-content-center card-body align-self-start">
                    <h5 class="card-title hourly text-shadow mb-4">Hourly Forecast</h5>

                    <div class="col-sm-12 col-md-12 d-flex flex-wrap justify-content-center ">
                        {{#each hourly as |hourly|}}
                        {{> hourly-info hourly}}
                        {{/each}}
                        <!-- ACCORDION FOR EXTRA HOURS -->
                        <div class="accordion mt-3" id="next-six-hours">
                            <div class="accordion-item ac-itm d-flex">
                                <h2 class="accordion-header d-flex justify-content-end" id="headingOne">
                                    <div class="btn" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        View more
                                    </div>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse " aria-labelledby="headingOne"
                                    data-bs-parent="#next-six-hours">
                                    <div class="accordion-body col-12 d-flex flex-wrap align-self-center weather-div">
                                        {{#each hourlyExtended as |extended|}}
                                        {{> extended-info extended}}
                                        {{/each}}

                                        <div class="col-12 mt-4">
                                            <p class="text-end closer" data-bs-toggle="collapse"
                                                data-bs-target="#collapseOne">Close</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>





                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- END WEATHER SECTION -->
</div>
<!-- 5 DAY -->
<div class="row ms-1 d-flex flex-wrap justify-content-center">
    <div
        class="col-sm-12 col-md-12 col-lg-11 col-xl-10 col-xxl-8 weather-div d-flex flex-wrap justify-content-center p-3">
        <div class="col-12 d-flex flex-wrap justify-content-start">
            <h1 class="forecast-title ">
                Weekly Forecast
            </h1>
        </div>
        <div class="col-12 d-flex flex-wrap justify-content-center">
            <div class="col-10">
                {{#each dw as |daily|}}
                {{> five-day daily}}
                {{/each}}
            </div>
        </div>


    </div>

    <!-- END WEATHER CONTAINER -->
</div>
<!-- END WEATHER AND NEWS CONTAINER -->
<div class="col-12">
    <!-- DIV FOR NEWS -->
</div>
<!-- END DYNAMIC CONTENT -->